.box {
  border: 1.2px solid black;
  width: 95px;
  height: 95px;
  box-sizing: border-box;
  position: relative;
  z-index: -2;
}

.box2 {
  background-color: black;
  border: 1.2px solid black;
  width: 95px;
  height: 95px;
  box-sizing: border-box;
  position: relative;
  z-index: -2;
}

.board-body {
  min-height: 100vh;
}

.board {
  display: flex;
  width: 950px;
  height: 475px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0px;
  position: relative;
}

.center-board {
  height: 77vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
  /* border: 1.2px solid black; */
  /* min-height: 600px; */
}

.empty {
  width: 95px;
  height: 95px;
}

.user {
  font-size: 45px;
  transition: all 1s linear;
  margin-top: 20px;
  margin-left: 28px;
  color: black;
  z-index: 5;
}

/* .move-right {
  animation: slideAnimation 1s linear forwards;
} */

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(95px);
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1.2px solid black; */
}

.dice-container {
  margin: 15px;
  /* color: rgb(0, 0, 0); */
}

.checkpoint-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  max-width: 95px;
}

div.box:last-of-type {
  background-color: gold;
}

.question-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  max-width: 95px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 950px;
}

h2 {
  margin: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 3s forwards;
}
.placeholder {
  width: 180px;
}
@media only screen and (max-width: 1450px) {
  .placeholder {
    width: 80px;
  }
}
@media only screen and (max-width: 1366px) {
  .placeholder {
    display: none;
  }
}
