/* .deck {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  white-space: nowrap;
} */

.deck {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  white-space: nowrap;
  /* animation: ticker 5s linear 1; */
  padding: 10px 20px;
}

@keyframes glow2 {
  0% {
    box-shadow: 0 0 5px #ffd700;
  }
  50% {
    box-shadow: 0 0 20px #ffd700, 0 0 30px #ffd700;
  }
  100% {
    box-shadow: 0 0 5px #ffd700;
  }
}

.new-card {
  animation: glow2 2s linear;
}
