.Immigration {
  background-color: #6b5b95 !important;
}

.Luggage {
  background-color: #028a0f !important;
}

.Customs {
  background-color: #ff7f11 !important;
}

.Security {
  background-color: #1477b2 !important;
}

.Terminal {
  background-color: gold !important;
}
